/* The default stylesheets are based on solarized. I suggest using colors from the solarized pallet for the speaker colors. */
/* https://en.wikipedia.org/wiki/Solarized_(color_scheme) */
/* https://thomasf.github.io/solarized-css/ */

.green_speaker {
  color: #859900;
}

/* Ignore all this below */

p, a {
  font-size: 24;
}

a {
    cursor: pointer;
}

#colorSchemeChanger {
    display: inline;
    float:   right;
    cursor:  pointer;
}
